.Profile__Container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.Profile__background {
  height: 150px;
  width: 100%;
}

.Profile__Main {
  margin-top: -25px;
}

.Profile__Photo {
  margin-right: 2rem;
}

.Profile__Photo-img {
  border-radius: 100px;
  border: 5px solid white;
}

.Profile__Container label {
  color:#828282;
  padding-right: 1rem;
}

.Profile__Follow-data {
  vertical-align: middle;
}

.Profile__Follow-data--name {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.Profile__Follow-data--number {
  padding-right: 1rem;
}